.MuiBox-root[alt*="Logo"] {
    content: url("/css/addons/authelia/authelia-sabnzbd-logo/sabnzbd.webp");
}

h5.MuiTypography-root::after {
    content: " - Sabnzbd";
}

#sign-in-button::after {
    content: " - Sabnzbd";
}