@import url("/css/base/nginx-proxy-manager/nginx-proxy-manager-base.css?sha=3e8fcaa400cc7eb2d3e40828d7491faf");
@import url("/css/community-theme-options/catppuccin-macchiato.css?sha=18c22535de67ca4f8d6f28be5477732a");