@import url("/css/base/nginx-proxy-manager/nginx-proxy-manager-base.css?sha=3e8fcaa400cc7eb2d3e40828d7491faf");
@import url("/css/community-theme-options/catppuccin-latte.css?sha=5e8163070c1e42ef3880cf06b154daca");