@import url("/css/base/qbittorrent/qbittorrent-base.css?sha=1e78c8527016d99ba7eb6a8c060aa1da");
@import url("/css/community-theme-options/catppuccin-macchiato.css?sha=18c22535de67ca4f8d6f28be5477732a");