.MuiBox-root[alt*="Logo"] {
    content: url("/css/addons/authelia/authelia-komga-logo/komga.webp");
}

h5.MuiTypography-root::after {
    content: " - Komga";
}

#sign-in-button::after {
    content: " - Komga";
}