.MuiBox-root[alt*="Logo"] {
    content: url("/css/addons/authelia/authelia-jellyseerr-logo/jellyseerr.webp");
}

h5.MuiTypography-root::after {
    content: " - Jellyseerr";
}

#sign-in-button::after {
    content: " - Jellyseerr";
}