/* replace a user configured logo */
.MuiBox-root[alt*="Logo"] {
    content: url("/css/addons/authelia/authelia-prowlarr-logo/prowlarr.webp");
}

/* Replace the default svg icon */
svg#UserSvg[class*="-icon"] {
    fill: none;
    background-image: url("/css/addons/authelia/authelia-prowlarr-logo/prowlarr.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h5.MuiTypography-root::after {
    content: " - Prowlarr";
}

#sign-in-button::after {
    content: " - Prowlarr";
}