.MuiBox-root[alt*="Logo"] {
    content: url("/css/addons/authelia/authelia-prowlarr-logo/prowlarr.webp");
}

h5.MuiTypography-root::after {
    content: " - Prowlarr";
}

#sign-in-button::after {
    content: " - Prowlarr";
}